{% extends "base.html" %}

{%- block title -%}
{{ page.title.as_deref().unwrap_or("Homestuck")|safe }}
{%- endblock %}

{% block content %}
{%- match page.title -%}
{%- when Some with (title) -%}
<h1 class="command">{{ title|safe }}</h1>
{%- when None -%}
{%- endmatch %}

<main>
    <img src="https://www.homestuck.com/images/storyfiles/hs2/00001.gif">

    {% match page.contents -%}
    {%- when Some with (contents) -%}
    <p class="body">{{ contents|safe }}</p>
    {%- when None -%}
    {%- endmatch %}

    {% match page.pesterlog -%}
    {%- when Some with (pesterlog) -%}
    <button id="open-pesterlog" data-typ="{{ pesterlog.typ }}">Show {{ pesterlog.typ }}</button>
    <div id="pesterlog">{{ pesterlog.contents|safe }}</div>

    {%- when None -%}
    {%- endmatch %}
</main>

<a class="next" href="{{ next.num }}.html">{{ next.title.as_deref().unwrap_or("==>")|safe }}</a>

<nav>
    <a href="1.html">Start Over</a>
    {% match page.story_prev -%}
    {%- when Some with (story_prev) -%}
    |
    <a href="{{ story_prev|last_segment }}.html" id="back">Go Back</a>
    {%- when None -%}
    {%- endmatch %}
</nav>

{%- endblock -%}
